.gallery {
  width: 1128px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 24px;
  padding: 24px 0;
  list-style: none;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.gallery-link {
  display: block;
  height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}